$bpu-xs: 320px;

$bpl-s: $bpu-xs + 1px;
$bpu-s: 480px;

$bpu-m: 768px;

$bpu-l: 1024px;

$bpu-xl: 1600px;

$bpu-xxl: 2500px;

@mixin icon-color($color) {
    .icon-color {
        fill: $color;
    }
}
